body {
background-color: yellow;
}

h2 {
background-color: red;
color: blue;
text-align: left;
font-style: oblique;
font-family: cursive;
}

h3 {
color: red;
background-color: blue;
text-transform: capitalize;
}
	
p {
font-family: sans-serif;
text-align: left;
}

footer {
text-align: center;
color: red;
text-decoration: none;
font-weight: bold;	
}

hr {
border: 1px solid black;	
}